admin:
  username: admin
  password: securePassword123

spring:
  datasource:
    # url: jdbc:mariadb://localhost:3306/service
    url: jdbc:postgresql://localhost:5432/service
    username: root
    password: Ya+371240
    # url: ${DB_URL}
    # username: ${DB_USERNAME}
    # password: ${DB_PASSWORD}
    # driver-class-name: org.mariadb.jdbc.Driver
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      # ddl-auto: create-drop
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    # database-platform: org.hibernate.dialect.MariaDBDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: yigoya7@gmail.com
    password: fgonfdsltonnscpk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 5000
  address: 0.0.0.0
  # ssl:
  #   enabled: true
  #   key-store: keystore.p12
  #   key-store-password: Ya+371240
  #   key-store-type: PKCS12
chapa:
  api:
    key: "CHASECK_TEST-cR8ncgOLLPA53khMS88AqHQU3jPtBRO4" # Replace with your Chapa API key
    url: "https://api.chapa.co/v1" # Chapa API base URL
  callback:
    url: "https://home-service-managment.vercel.app/" # Callback URL for payment status updates
  return:
    url: "https://home-service-managment.vercel.app/" # Return URL after payment completion
